@import url('https:fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
:root {
    --base: #1e1e2e;
    --text: #cdd6f4;
    --subtext: #bac2de;
    --accent: #cba6f7;
    --highlight: #cba6f7;
    --button-bg: #74c7ec;
    --button-hover: #89dceb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--base);
    min-height: 100vh;
    color: var(--text);
    text-align: center;
    padding: 20px;
    padding-bottom: 20vh;
}
.info {
    margin-top: 20px;
    font-size: clamp(24px, 6vw, 50px);
    font-weight: 700;
    color: var(--highlight);
    margin-bottom: 20px;
    max-width: 90vw;
    overflow-wrap: break-word;
}
.input {
    height: 70px;
    width: 75%;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    background-color: var(--subtext);
    color: #45475a;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    transition: 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.input:focus {
    outline: none;
    background-color: var(--highlight);
    color: #45475a;
}
.input::placeholder{
    color: var(--base);
    opacity: 0.5;
}
.hintButton {
    width: 20%;
    height: 70px;
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--base);
    background-color: var(--button-bg);
    border: none;
    border-radius: 8px;
    padding: 0 30px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    min-width: fit-content;
}
.hintButton:hover {
    background-color: var(--button-hover);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons{
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.answer{
    font-size: clamp(24px, 6vw, 50px);;
}

.v-card-title {
    font-size: clamp(24px, 6vw, 40px) !important;
    white-space: normal !important; /* Allow text to wrap */
    word-break:break-all; /* Break long words if needed */
    overflow: visible; /* Ensure no hidden text */
}


.close{
    color: red !important;
    font-weight: 600 !important;
    &:hover{
        background-color: rgba(255, 0, 0, 0.2);
    }
}
.close:hover{
}

@media screen and (max-width: 550px) {
    input {
        height: 60px;
        font-size: 1.5rem;
        width: 100%;

    }
    .hintButton {
        height: 60px;
        font-size: 1.5rem;
        width: 100%;

    }
    .buttons{
        flex-direction: column;
    }
}
